<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>FICS</title>
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <form action="#" th:action="@{/add-new-system}" th:object="${newsystem}" method="post">
            <table>
                <tr>

                    <td><label for="sys">Rendszer:</label><input type="text" id="sys" class="form-control" th:field="*{name}"/></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Rendszer Error</td>
                </tr>
                <tr>

                    <td><label for="des">Leírás:</label><textarea type="text" id="des" rows="10" class="form-control" th:field="*{desc}"/></td>
                    <td th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}">Leírás Error</td>
                </tr>
                <tr>

                <tr>
                    <td>
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>