<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>FICS</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Hiba</h1>
        <p>Néhány sort nem megfelelően töltöttél ki . </p>
    </div>
    <p>Hosszabb szöveget adtál meg vagy létező elemet akartál létrrehozni.</p>
    <a data-toggle="modal" th:href="'/'">Vissza a főoldalra<span class="glyphicon glyphicon-trash"></span></a>
 </div>
 </body>
 </html>